* {
  margin: 0;
  padding: 0;
}

.section-1 {
  background: url(images/bg-1.png) center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

.logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.section-1-item {
  display: flex;
  justify-content: space-evenly;
}

.section-1-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding-left: 55px;
}

.section-1-number {
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contacts {
  display: flex;
  list-style-type: none;
}

.contacts > li {
  margin-left: 15px;
}

.main {
  display: grid;
  grid-template: auto / 50% 50%;
}

.full {
  padding-top: 50px;
}

.section-1-h1 {
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}


.section-1-h3 {
  margin-bottom: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-1-h4 {
  margin-top: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  display: flex;
  margin-top: 20px;
  padding: 15px 20px;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 12px;
}

.section-2-h2 {
  font-family: Roboto-light;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-2-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-bottom: 55px;
}

.section-2-item > img {
  height: 196px;
}

.section-2-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2-item > span {
  margin-top: 25px;
}

.section-2-h2 > span {
  color: orange;
  margin: 0 5px;
}

.section-3 {
  background-color: rgb(26, 24, 24);
  color: #fff;
  min-height: 100vh;
  width: 100%;
}

.section-3-h2 {
  font-family: Roboto-bold;
  font-size: 2em;
  display: flex;
  margin-top: 20px;
  align-items: center;

}

.section-3-h2 > span {
  color: orange;
  margin: 0 5px;
}

.section-3-macbook {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}

@media (max-width: 790px) {
  .section-3-macbook {
    flex-direction: column;
  }
}

.section-3-list {
  font-family: Roboto-bold;
  font-size: 5mm;
  margin-right: 60px;
  list-style-type: none;
  display: grid;
}

.section-3-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.section-3-item span {
  color: orange;
}

.section-3-item > i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 55px;
  background-color: orange;
  border-radius: 50%;
  margin-right: 25px;
  border: 8px solid rgba(51, 51, 51, 0.8);
}

.section-3-item:nth-child(2n) > i {
  width: 60px;
}

.section-3-item:nth-child(3n) > i {
  width: 50px;
}

.section-3-item:last-child > i {
  width: 75px;
}

.section-4 {
  background: url(images/bg-2.png) center 100% no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.section-4-h1 {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-4-h1 span {
  color: orange;
  margin: 0 5px;
}

.section-4-spn {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  color: orange;
  font-size: 4.5mm;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: Roboto-bold;
}

.section-4-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-top: 40px;
}

.section-4-item {
  width: 34%;
  display: flex;
  padding: 30px 30px;
}

.section-4-item > i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 123px;
  background-color: orange;
  color: #fff;
  border-radius: 50%;
  margin-right: 25px;
}

.section-4-item:nth-child(2n) > i {
  width: 84px;
}

.section-4-item:nth-child(3n) > i {
  width: 82px;
}

.section-4-item:nth-child(4n) > i {
  width: 97px;
}

.section-5-h3 {
  color: orange;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-5-list {
  padding: 40px;
  margin-left: 230px;
  width: 60%;
  list-style-type: none;
}

.section-5-item {
  padding: 20px 0px 40px;
  display: flex;
  height: 10%;
}

.section-5-item > i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  color: #fff;
  margin-right: 25px;
  width: 80px;
  height: 50px;
  border-radius: 50px;
  font-size: 45px;
}

.section-5-item:nth-child(2n) >i {
  width: 52px;
}

.section-5-item:nth-child(3n) >i {
  width: 140px;
}

.section-5-item:nth-child(4n) >i {
  width: 110px;
}

.section-6 {
  position: relative;
  width: 100%;
  height: 307px;
}

.section-6-img {
  position: absolute;
  bottom: 0;
  z-index: 20;
}

.section-6-black {
  position: relative;
  width: 100%;
  max-width: 1400px;
  padding: 20px 0;
  background-color: rgb(26, 25, 25);
  margin-top: 170px;
  z-index: 10;
}

.section-6-h3 {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 640px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-6-h3 > span {
  color: orange;
}

.section-6-container {
  width: 1140px;
  margin: 0 auto;
}

.section-6-btn {
  padding: 15px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: orange;
  border: none;
  margin-left: 701px;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-7 {
  position: relative;
  background: url(images/pic-1...jpg)center 100% no-repeat;
  background-size: cover;
  height: 135vh;
  width: 100%;
}

.section-7-h3 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  color: #fff;
}

.section-7-h3 > span {
  color: orange;
  margin: 0 5px;
} 

.section-7-list {
  padding-top: 50px;
  padding-left: 200px;
  list-style-type: none;
}

.section-7-h4 {
  color: orange;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 10px;
}

.section-7-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  color: #fff;
}

.section-7-img {
  position: absolute;
  top: 25%;
  z-index: 20;
  width: 300px;
  padding-left: 740px;
}

.section-8 {
  padding: 50px 0 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.section-8-h2 > span {
  color: orange;
}

.section-8-list {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 60px;
}

.section-8-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: palegoldenrod;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.section-8-item > h3 {
  white-space: nowrap;
  font-size: 25px;
}

.section-8-text {
  position: absolute;
  bottom: -15px;
  width: 130px;
  font-size: 13px;
}

.section-8-h3 {
  color: orange;
}

.section-9 {
  position: relative;
  background-color: rgb(26, 25, 25);
  height: 85vh;
}

.section-9-h2 {
  color: #fff;
  text-align: center;
  padding: 50px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.section-9-h2 > span {
  color: orange;
}

.section-9-container {
  border: 2px solid #fff;
  margin: 40px 340px 0 340px;
  border-radius: 5px;
  border-bottom: 20px;
}

.section-9-text {
  padding: 10px 10px 50px 20px;
  background: #fff;
  margin-bottom: 40px;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-9-icon {
  text-align: center;
  color: orange;
  padding-top: 60px;
  font-size: 12px;
  background-color: #fff;
}

.section-9-h4 {
  color: rgb(27, 26, 26);
  padding-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-9-img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  top: 120px;
  left: 580px;
}

.section-10-h1 {
  text-align: center;
  padding: 50px 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.section-10-h1 > span {
  color: orange;
}

.section-10-h4 {
  padding-left: 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  padding-bottom: 30px;
}

.section-10-h4 > span {
  color: orange;
}

.section-10-img {
  width: 250px;
}

.section-10-container {
  display: flex;
  justify-content: space-evenly;
}

.section-11 {
  position: relative;
}

.section-11-black {
  background-color: rgb(43, 39, 39);
  width: 100%;
  padding: 20px 0;
  margin-top: 100px;
}

.section-11-h2 {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 340px;
}

.section-11-h2 > span {
  color: orange;
}

.section-11-btn {
  margin: 20px 340px;
  padding: 15px 20px;
  color: #fff;
  background-color: orange;
  border-radius: 5px;
  border: none;
  font-size: 12px;
}

.section-11-img {
  width: 220px;
  position: absolute;
  top: -75px;
  padding-left: 700px;
  padding-bottom: 20px;
}

.section-12 {
  position: relative;
}

.section-12-h2 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 90px 0 40px;
}

.section-12-h2 > span {
  color: orange;
}

.section-12-img {
  width: 835px;
  padding-left: 220px;
}

.section-12-h3 {
  position: absolute;
  background-color: orange;
  width: 31%;
  padding: 14px 0;
  padding-left: 25px;
  color: #fff;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  top: 13.5%;
  margin-left: 635px;
  z-index: 20;
}

.section-12-list {
  position: absolute;
  list-style-type: none;
  margin-left: 660px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  top: 28%;
  z-index: 10;
}

.section-12-item {
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  color: #fff;
}

.section-12-item > i {
  padding-right: 10px;
  color: orange;
  font-size: 22px;
}

.section-12-btn {
  color: orange;
  font-size: 11px;
  margin-left: 238.5px;
  margin-bottom: 10px;
  padding: 10px 25px 12px 25px;
  background: #fff;
  border: 1.5px solid orange;
  border-radius: 5px;
}

.section-12-btn > i {
  padding-right: 147px;
  padding-left: 147px;
  font-size: 18px;
}

.section-12-h4 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 23px;
  padding-top: 25px;
  padding-bottom: 35px;
}

.btn {
  background: orange;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 20px 30px;
  font-size: 12px;
  margin-left: 529px;
  margin-bottom: 50px;
}